.Main {
    &__Resources {
    height: calc(100vh - 12rem);
        
        &__column {
            height: calc(100vh - 12rem);
            background: url(../assets/column-bg.jpg) no-repeat center / cover;
            position: relative;
            display: flex;
            justify-content: center;

            &__text {
                text-transform: uppercase;
                color: $zane_white;
                font-size: 5rem;
                margin-top: 8rem;
                font-weight: 600;
                line-height: 5rem;
                margin-left: 2rem;
            }

            h1 {
                color: $zane_white;
                font-size: 8rem;
                margin-top: 6rem;
            }
        }

        &__buttons {
            height: calc(78vh);
            background: $zane_black;
            margin-top: 5rem;
            position: relative;

            .button {
                width: 28rem;
                height: 28rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: $zane_white;
                padding-top: 15rem;

                &.topbtn {
                    background: $zane_black url(../assets/students_whhite.svg) no-repeat center 3rem / 10rem;

                    &:hover {
                        background-color: $zane_blue;
                    }

                    &.active {
                        background: $zane_blue url(../assets/student.svg) no-repeat center 3rem / 10rem;

                        &.light {
                            background: $zane_blue_light url(../assets/student.svg) no-repeat center 2rem / 10rem;
                        }
                    }

                    &.light {
                        &:hover {
                            background-color: $zane_blue_light;
                        }
                    }
                }

                &.bttmbtn {
                    background: $zane_black url(../assets/teacher_whhite.svg) no-repeat center 6rem / 10rem;

                    &:hover {
                        background-color: $zane_blue;
                    }

                    &.active {
                        background: $zane_blue url(../assets/teacher.svg) no-repeat center 6rem / 10rem;

                        &.light {
                            background: $zane_blue_light url(../assets/teacher.svg) no-repeat center 6rem / 10rem;
                        }
                    }

                    &.light {
                        &:hover {
                            background-color: $zane_blue_light;
                        }
                    }
                }

                &.active {
                    color: $zane_text;
                    pointer-events: none;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $zane_blue_light;
                }

                p {
                    margin-top: 2rem;
                }
            }
        }

        &__info {
            padding: 4rem;
            padding-left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                margin-bottom: 4rem;
                font-size: 5rem;
            }

            h3 {
                margin-bottom: 3rem;
            }
        }

        &__icons {
            margin-top: 4rem;

            .icon {
                text-align: center;
                text-decoration: none;
                color: $zane_blue;
                overflow: hidden;
                position: relative;

                h6 {
                    text-align: center;
                    margin-top: 2rem;
                    font-size: 1.4rem;
                    transition: all 0.3s ease-in-out;

                    &.light {
                        color: $zane_blue_light;
                    }
                }

                img {
                    width: 8rem;
                    height: 8rem;
                    transition: all 0.3s ease-in-out;
                }
            }
        }

        .title {
            padding-left: 7rem;

            &.student, &.teacher {
                position: relative;

                &:before {
                    left: 7rem;
                }

                &:after {
                    content: '';
                    display: block;
                    width: 6rem;
                    height: 6rem;
                    background: url(../assets/student_blue.svg) no-repeat center / contain;
                    position: absolute;
                    top: 1rem;
                    left: 0;
                }
            }

            &.student {
                &:after {
                    background: url(../assets/student_blue.svg) no-repeat center / contain;
                }

                &.light {
                    &:after {
                        background: url(../assets/student_light.svg) no-repeat center / contain;
                    }
                }
            }

            &.teacher {
                &:after {
                    background: url(../assets/teacher_blue.svg) no-repeat center / contain;
                }

                &.light {
                    &:after {
                        background: url(../assets/teacher_light.svg) no-repeat center / contain;
                    }
                }
            }


        }
   
    }
}

@media (max-width: 576px) {
    main {
        padding: 0 !important;
        background: none !important;
    }

    .Main {
        &__Resources {
        height: unset;

            &__column {
                height: 28rem;
                background-position: center -10rem;
                align-items: center;

                &:before {
                    content: '';
                    position: absolute;
                    top: 5rem;
                    left: -10rem;
                    width: 10rem;
                    height: calc(74vh);
                    background: $zane_black;
                }

                h1 {
                    margin-top: 0;
                }
            }

            &__buttons {
                margin-top: 0;
                height: unset;

                .button {
                    width: 49%;
                    height: unset;
                    padding: 12rem 2rem 2rem 2rem;
                    text-align: center;

                    &.topbtn {
                        background: $zane_black url(../assets/students_whhite.svg) no-repeat center 2rem / 7rem;
    
                        &.active {
                            background: $zane_blue url(../assets/student.svg) no-repeat center 2rem / 7rem;
                        }
                    }
    
                    &.bttmbtn {
                        background: $zane_black url(../assets/teacher_whhite.svg) no-repeat center 3rem / 7rem;
    
                        &.active {
                            background: $zane_blue url(../assets/teacher.svg) no-repeat center 3rem / 7rem;
                        }
                    }
                }
            }

            &__info {
                padding: 4rem;
                padding-bottom: 0;

                h1 {
                    font-size: 3rem;
                }
            }

            &__icons {
    
                .icon {
                    margin-bottom: 4rem;
                }
            }
        }

    }
}
